<!-- footer -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-logo">
                    <a href="#"><img src="~/img/logo" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row pb-50">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h5>Location</h5>
                    <div class="widget-text">
                        <i class="fa fa-map-marker"></i>
                        <p>1525 Boring Lane, <br />Los Angeles, CA</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h5>Reception</h5>
                    <div class="widget-text">
                        <i class="fa fa-phone"></i>
                        <p>+1 (603)535-4592</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h5>Shuttle Service</h5>
                    <div class="widget-text">
                        <i class="fa fa-phone"></i>
                        <p>+1 (603)535-4592</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h5>Restaurant</h5>
                    <div class="widget-text">
                        <i class="fa fa-phone"></i>
                        <p>+1 (603)535-4592</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="copyright-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Hotel</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
            <div class="privacy-links">
                <a href="https://thejavidev.github.io/">The JaviDev</a>

            </div>
        </div>
    </div>
</footer>
<!-- footer end -->