<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- page title -->
    <title>Hotel</title>
</head>

<body>
    <!-- page wrapper -->
    <div class="hotel-app">
        <!-- preloader -->
        <div class="hotel-preloader-frame">
            <div class="hotel-preloader imgLoad">
                <img class="lozad" src="~/img/hotellogo.png" alt="logo" />
                <div class="hotel-preloader-progress">
                    <div class="hotel-preloader-bar"></div>
                </div>
                <div>
                    <span class="hotel-preloader-number" data-count="101">0</span>%
                </div>
            </div>
        </div>
        <!-- preloader end -->
        <!-- datepicker frame -->
        <div class="hotel-datepicker-place"></div>

        @await Component.InvokeAsync("Header")

        @RenderBody()

        @await Component.InvokeAsync("Footer")
        <!-- popup -->
        <div id="hotel-success" class="hotel-popup imgLoad">
            <img class="lozad" src="~/img/features/12.svg"
                 alt="success"
                 class="hotel-succes-icon" />
            <h2 class="hotel-mb-20">Uğurlu</h2>
            <p>
                Ancaq mesaj göndərilməyib. <br />Bu pop-up nümayiş üçün
                mövcuddur.
            </p>
        </div>
        <!-- popup end -->
        <!-- popup -->
        <div class="hotel-popup-frame">
            <div class="hotel-book-form hotel-book-popup">
                <span class="hotel-close-popup">+</span>
                <h2 class="hotel-mb-40">Giriş</h2>
                <form>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hotel-input-frame">
                                <label>Istifadəçi adı</label>
                                <input type="text" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="hotel-input-frame">
                                <label class="hotel-add-icon">Şifrə</label>
                                <input type="password" />
                            </div>
                        </div>


                        <div class="col-lg-12 hotel-center imgLoad">
                            <button type="submit" class="hotel-btn">
                                <img class="lozad" data-src="~/img/icons/search.svg"
                                     class="hotel-zoom"
                                     alt="icon" />Giriş
                            </button>
                            <button type="submit" class="hotel-btn">
                                <a href="#"><img class="lozad" data-src="~/img/icons/search.svg" class="hotel-zoom" alt="icon" />Qeydiyyat</a>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- popup end -->






    </div>
    <!-- page wrapper end -->
    <!-- jquery js -->
    <script src="~/js/plugins/jquery.min.js"></script>
    <script src="~/js/plugins/lozad.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script>
        const observer = lozad();
        observer.observe();
    </script>
    <!-- bootstrap js -->
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <!-- nice select js -->

    <script src="~/js/plugins/jquery.nice-select.min.js"></script>
    <!-- datepicker js -->
    <script src="~/js/plugins/datepicker.js"></script>
    <!-- smooth scroll js -->
    <script src="~/js/plugins/smooth-scroll.js"></script>
    <!-- isotope js -->
    <script src="~/js/plugins/isotope.min.js"></script>
    <!-- mapbox js -->
    <script src="~/js/plugins/mapbox.min.js"></script>
    <!-- fancybox js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/lightgallery.min.js"></script>
    <script src="~/js/plugins/fancybox.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/plugins/swiper.min.js"></script>
    <!-- sticky js -->
    <script src="~/js/plugins/sticky.js"></script>
    <!-- kinsley js -->
    <script src="~/js/main.js"></script>
</body>
</html>
