<!-- top bar -->
<div class="hotel-top-bar">
    <div class="container">
        <div class="hotel-left-side">
            <!-- logo -->
            <a href="index.html" class="hotel-logo-frame" style="width: 50px;">
                <img src="~/img/hotellogo.png" alt="logo">
            </a>
            <!-- logo end -->
        </div>
        <div class="hotel-right-side">
            <!-- menu -->
            <div class="hotel-menu">
                <nav>
                    <ul>
                        <li class="current-item">
                            <a href="index.html">Ana Səhifə</a>
                        </li>
                        <li>
                            <a href="about.html">Haqqımızda</a>
                        </li>
                        <li>
                            <a href="rooms.html">Hotellər</a>
                        </li>
                        <li>
                            <a href="menu.html">Otaqlar</a>
                        </li>
                        <li>
                            <a href="service.html">Xidmətlərimiz</a>
                        </li>
                        <li>
                            <a href="contact.html">Əlaqə</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- menu end -->
            <!-- action button -->
            <a href="login.html" class="hotel-btn"><img src="~/img/icons/bookmark.svg" alt="icon">Giriş</a>
            <!-- action button end -->
        </div>
        <!-- menu button -->
        <div class="hotel-menu-btn"><span></span></div>
        <!-- menu button end -->
    </div>
</div>
<!-- top bar end -->